@import "src/vars";

.main_page {
  height: calc(100vh - 8.5rem);
  padding: 2rem 5rem;
  .search_wrapper {
    display: flex;
    justify-content: center;
  }
  .weather {
    height: calc(100% - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $light-mode-background-secondary;
    box-shadow: 0 0 0.3rem $light-mode-shadow;
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  .weather_today {
    display: flex;
    align-items: center;

    img {
      width: 5rem;
      margin-right: 1rem;
    }
  }
  .current_weather {
    display: flex;
    justify-content: space-between;
  }
  .weather_description {
    font-weight: 200;
  }
  .add_to_favorites {
    button {
      height: 100%;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  .star {
    transition: all 0.1s;
    width: 5rem;
    height: 4rem;
    fill: white;
    stroke: black;
    &.favorite {
      fill: gold;
      stroke: gold;
    }
    &:hover {
      fill: gold;
      stroke: gold;

      cursor: pointer;
    }
  }
  .change_mode {
    position: absolute;
    .change_mode_img {
      transition: all 0.1s;
      &:hover {
        cursor: pointer;
      }
      &.light {
        fill: gold;
        stroke: black;
        &:hover {
          fill: black;
          stroke: gold;
        }
      }
      &.dark {
        fill: black;
        stroke: gold;
        &:hover {
          fill: gold;
          stroke: black;
        }
      }
      width: 4rem;
      height: 4rem;
    }
  }
  &.dark_mode {
    background-color: $dark-mode-background-color;
    .weather {
      background-color: $dark-mode-background-secondary;
      box-shadow: 0 0 0.3rem $dark-mode-shadow;
      color: $dark-mode-text-color;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 2rem;
    .search_wrapper {
      justify-content: flex-end;
    }
  }
}
