@import "src/vars";

.search_list {
  position: absolute;
  top: 4rem;
  width: 100%;
  background-color: $light-mode-background-color;
  box-shadow: 0 0 0.3rem $light-mode-shadow;
  visibility: hidden;
  z-index: 1;
  &.is_focused {
    visibility: visible;
  }
  .list_item {
    padding: 0.5rem 0.2rem;
    font-size: 1.2rem;
    border-bottom: 0.2rem solid $light-mode-shadow;
    &:hover {
      background-color: $light-mode-background-secondary;
      cursor: pointer;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
