@import "src/vars";

.favorites {
  height: calc(100vh - 8.5rem);
  padding: 2rem 5rem;
  .favorites_container {
    overflow: auto;
    height: calc(100% - 10rem);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    background-color: $light-mode-background-secondary;
    box-shadow: 0 0 0.3rem $light-mode-shadow;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 5.4rem;
  }
  .favorite_location {
    padding: 1rem;
    background-color: $light-mode-background-color;
    box-shadow: 0 0 0.3rem $light-mode-shadow;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: background-color 0.1s ease;
    &.loading {
      justify-content: center;
    }
    img {
      width: 5rem;
      margin-right: 1rem;
    }
    &:hover {
      background-color: $light-mode-background-secondary;
      cursor: pointer;
    }
  }
  .change_mode {
    position: absolute;
    .change_mode_img {
      transition: all 0.1s;
      &:hover {
        cursor: pointer;
      }
      &.light {
        fill: gold;
        stroke: black;
        &:hover {
          fill: black;
          stroke: gold;
        }
      }
      &.dark {
        fill: black;
        stroke: gold;
        &:hover {
          fill: gold;
          stroke: black;
        }
      }
      width: 4rem;
      height: 4rem;
    }
  }
  &.dark_mode {
    background-color: $dark-mode-background-color;
    .favorites_container {
      background-color: $dark-mode-background-secondary;
      box-shadow: 0 0 0.3rem $dark-mode-shadow;
      color: $dark-mode-text-color;
    }
    .favorite_location {
      background-color: $dark-mode-background-color;
      box-shadow: 0 0 0.3rem $dark-mode-shadow;
      color: $dark-mode-text-color;
      &:hover {
        background-color: $dark-mode-background-secondary;
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: 2rem 2rem;
    .favorites_container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      h3,
      h4 {
        font-size: 1.1rem;
      }
    }
  }
}
