@import "src/vars";

.search_owner {
  position: relative;
  .search {
    display: flex;
    position: relative;
    padding: 0;
    margin-bottom: 2rem;
    box-shadow: 0 0 0.3rem $light-mode-shadow;
    background-color: $light-mode-background-secondary;
    border-radius: 0.5rem;
    transition: all 0.1s;
    overflow: auto;
    &:hover {
      box-shadow: 0 0 0.5rem $light-mode-shadow;
    }
    &:focus-within {
      box-shadow: 0 0 0.5rem $light-mode-shadow;
    }
  }
  input {
    border: none;
    margin: 0;
    padding: 0.8rem;
    padding-left: 3.5rem;
    background-color: $light-mode-background-secondary;
    width: 100%;
    outline: none;
    font-size: 1.5em;
  }
  img {
    height: 2rem;
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
  }
  &.dark_mode {
    .search {
      box-shadow: 0 0 0.3rem $dark-mode-shadow;
      background-color: $dark-mode-background-secondary;
    }
    input {
      background-color: $dark-mode-background-secondary;
      color: $dark-mode-text-color;
    }
  }
}
