$dark-mode-text-color: white;
$dark-mode-background-color: black;

$light-mode-text-color: black;
$light-mode-background-color: white;
$light-mode-background-secondary: #fafafa;
$light-mode-shadow: #999;
